/Fundamentos/tipoChar/nbproject/private/
/Fundamentos/tipoChar/build/
/Fundamentos/tipoBoolean/nbproject/private/
/Fundamentos/tipoBoolean/build/
/Fundamentos/conversionTipos/nbproject/private/
/Fundamentos/conversionTipos/build/
/Fundamentos/tiendaLibros/nbproject/private/
/Fundamentos/tiendaLibros/build/
/Fundamentos/operadoresAritmeticos/nbproject/private/
/Fundamentos/operadoresAritmeticos/build/
/Fundamentos/operadoresAsignacion/nbproject/private/
/Fundamentos/operadoresAsignacion/build/
/Fundamentos/operadorTernario/nbproject/private/
/Fundamentos/operadorTernario/build/
/Fundamentos/rectangulo/nbproject/private/
/Fundamentos/rectangulo/build/
/Fundamentos/mayor2Numeros/nbproject/private/
/Fundamentos/mayor2Numeros/build/
/Fundamentos/usoSwitch/nbproject/private/
/Fundamentos/usoSwitch/build/
/Fundamentos/sistemaCalificaciones/nbproject/private/
/Fundamentos/sistemaCalificaciones/build/
/Fundamentos/cicloDoWhile/nbproject/private/
/Fundamentos/cicloDoWhile/build/
/Fundamentos/cicloFor/nbproject/private/
/Fundamentos/cicloFor/build/
/Fundamentos/empezandoClases/nbproject/private/
/Fundamentos/empezandoClases/build/
/Fundamentos/Aritmetica/nbproject/private/
/Fundamentos/Aritmetica/build/
